[cost_accumulator_generator]
point_visit_factor=0.
move_walking_factor=1.
# ptt_cost_mult
move_driving_factor=7.49
# ptt_cost_mult
move_ptt_factor=7.49
lunch_factor=0.
no_point_visit_factor = 0.
no_point_visit_const = 1000.
unused_time_factor = 0.01

[day_visit_const_calculator_generator]
# Speed of car in traffic jams in mph.
driving_speed=20.
# 10 minutes to find and than park a car and 10 minutes to find a parking
# spot when arrived. 
pause_before_driving=0.3
# Walking speed in mph.
walking_speed=2.
pause_before_walking=0.
# Speed of Public Transportation or Taxi in mph.
ptt_speed=15.
# 15 minutes to buy a ticket and wait in case of public transportation or
# call a taxi.
pause_before_ptt=0.25
# Multiplier which penalize PTT against walking.
ptt_cost_mult = 7.49
max_walking_distance=1.0
validate_max_walking_distance=False

[city_visit_router]
day_visit_heap_size=1000
shard_num_days=2
max_depth=1
city_visit_heap_size=10
max_non_pushed_points=5
# Let infer from number of CPUs.
# num_processes=None

[cors]
origin=http://askyusi.com

[server]
port=5000
host=0.0.0.0

[task_worker]
idle_seconds_terminate=60.
